body {
    background-color: #a566db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5c2d91;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button.stop {
    background-color: #d9534f;
}
